.benefits {
    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin-left: -15px;
        margin-right: -15px;    
    }
}

.benefits__item {
    @media screen and (min-width:768px) {
        flex-basis: calc((100% - 30px) /2 );
    }
}

.benefits__item:not(:last-child) {
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    }
}

.benefits__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
}

.benefits__title {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

.benefits__text {
    margin-top: 0;
    margin-bottom: 0;
}