.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
    ;
}

.header-section {
    padding-top: 24px;
    padding-bottom: 24px;
}

/* стилізація навігації */

.navigation {
    display: flex;
    align-items: center;
}

.site-nav {
    position: relative;

    display: flex;
    margin-left: 93px;
}

.site-nav__item:not(:first-child) {
    margin-left: 50px;
}

.site-nav__link,
.site-nav__link--current {
    display: block;
    padding-top: 7px;
    padding-bottom: 7px;

    color: var(--tittle-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link--current {
    color: var(--accent-color);
}

.site-nav__item--current {
    position: relative;
}

.site-nav__item--current::after {
    position: absolute;
    top: 180%;
    left: 50%;
    transform: translate(-50%, -50%);

    content: " ";
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}

/* Хедер - контакти */

.contact {
    display: flex;
    margin-left: auto;
}

.contact__item {
    display: flex;
}

.contact__item:not(:first-child) {
    margin-left: 50px;
}

.contact__link {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    padding-top: 7px;
    padding-bottom: 7px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.contact__icon {
    margin-right: 10px;
    fill: currentColor;
}