.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-section {
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
}

.mobile-header {
    // position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    outline: 1px solid red;

    background-color: #FFFFFF;
    padding-top: 48px;
    padding-right: 25px;
    padding-bottom: 48px;
    padding-left: 25px;

    &.is-open {
        display: block;
    }
}