.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #ECECEC;
}

.header-section {
    position: relative;

    padding-top: 10px;
    padding-bottom: 10px;
}

.main-header {
    display: none;

    @media screen and(min-width:$tablet) {
        display: flex;
        align-items: center;     
    }
}