.menu-btn {
    // display: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;

    z-index: 1;

    & .menu-btn__close {
        display: none;
    }

    &.is-open .menu-btn__close {
        display: block;
    }

    &.is-open .menu-btn__menu {
        display: none;
    }
}

.site-nav {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);

    margin-bottom: 302px;
}

.contact {
    display: flex;
    flex-direction: column-reverse;
}



.contact__item:last-child {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-color);

    margin-bottom: 32px;
}



