.menu-btn {
    // display: none;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;

    z-index: 1;

    &:hover .menu-btn__menu,
    &:focus .menu-btn__menu {
        fill: var(--accent-color);
    }

    & .menu-btn__close {
        display: none;
    }

    &.is-open .menu-btn__close {
        display: block;
    }

    &.is-open .menu-btn__close:hover,
    &.is-open .menu-btn__close:focus {
        fill: var(--accent-color);
    }

    &.is-open .menu-btn__menu {
        display: none;
    }
}

.mobile-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $tablet) {
        display: none;    
    }
}

.menu-container {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    outline: 1px solid red;

    background-color: #FFFFFF;
    padding-top: 48px;
    padding-right: 25px;
    padding-bottom: 48px;
    padding-left: 25px;

    &.is-open {
        display: block;
    }
}

.mob-nav {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--tittle-text-color);
        
    margin-bottom: 306px;
}

.mob-nav__item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-nav__link--current {
    color: var(--accent-color);
}

.mob-contact {
    display: block;
    margin-bottom: 64px;
}

.mob-contact__item:first-child {
    margin-bottom: 32px;

    color: var(--accent-color);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;    
    letter-spacing: 0.02em;
}

.mob-contact__item:last-child {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.mob-social {
    display: flex;
    align-items: center;
    margin-right: auto;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mob-social__item {
    display: flex;
    align-items: center;
    padding: 10px;
    height: 22px;

    &:not(:first-child) {
        border-left:1px solid rgba(33, 33, 33, 0.2);
    }

    &:first-child {
        padding-left: 0px;
    }
}








