.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;
    // outline: 2px solid tomato;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* приховані заголовки */

.hidden-title {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--tittle-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}